.card{
  margin-top: 20px;
  width: min(100% - 2rem, 1700px);
  margin-inline: auto;
}

.timeCard{
  margin-top: 20px;
  width: min(100% - 2rem, 300px);
  margin-inline: auto;
}

body{
  background-color: #ffffff;
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.timeInfo{
  text-align: center;
  font-size: large;
}

th, td {
  word-break: keep-all;
  text-align: center;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  overflow-wrap: break-word;
  border-color: darkgray;
  font-size: larger;
  height: 90px;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
  font-size: 25px;
}

.mat-cell{
  text-align: center;
  font-size: 50px;
}

.highlight{
  background-color: #e0ffff;
}

.open-cell{
  color: #b22222;
  font-weight: bold;
}

.className{
  font-size: 25px;
  font-weight: 600;
  border-right: #ddd;
}

.QRcode{
  width: 250px;
  height: 250px;
}

.timeZone{
  color: #696969;
  font-size: 17px;
  font-weight: 350;
}

.footer{
  color:#696969;
  vertical-align: middle;
  text-align: right;
  font-size: 20px;
}

.mat-icon{
  height: 50px;
  width: 50px;
  font-size: 50px;
  color: lightgreen;
}

.mat-icon.footerIcon{
  font-size: 30px;
  vertical-align: middle;
  height: min-content;
  width: min-content;
}

@media (max-width: 768px) {
  td {
    white-space: normal;
    word-wrap: break-word;
  }
}
