.list{
  width: min(100% - 2rem, 700px);
  height: min(100% - 2rem, 100px);
  margin-inline: auto;
  max-height: fit-content;
}

.card{
  margin-top: 20px;
  width: min(100% - 2rem, 1300px);
  margin-inline: auto;
}

.timeCard{
  margin-top: 20px;
  width: min(100% - 2rem, 300px);
  margin-inline: auto;
}

body{
  background-color: #ffffff;
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.footer{
  padding: 0;
}

.timeInfo{
  text-align: center;
  font-size: large;
}

th, td {
  padding: 12px 15px;
  text-align: center;
  border-bottom: 1px solid #ddd;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  overflow-wrap: break-word;
  //border-right: 1px solid;
  border-color: darkgray;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.mat-cell {
  text-align: center;
}

.highlight{
  background-color: #BBDEFB;
}

.open-cell{
  color: #b22222;
  font-weight: bold;
}

.QRcode{
  width: 250px;
  height: 250px;
}

@media (max-width: 768px) {
  td {
    white-space: normal;
    word-wrap: break-word;
  }
}

