.form{
  padding-left: 30px;
}

.submit{
  font-size: 20px;
  padding: 20px 32px;
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

th, td {
  word-break: keep-all;
  text-align: center;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  overflow-wrap: break-word;
  border-color: darkgray;
  font-size: larger;
  height: 90px;
}

td {
  position: relative;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
  font-size: 25px;
}

.mat-cell {
  text-align: center;
}

.highlight{
  background-color: #BBDEFB;
  border-width: 5px;
  border-color: #3f51b5;
}

.check{
  height: 50px;
  width: 50px;
  font-size: 50px;
  color: lightgreen;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

@media (max-width: 768px) {
  td {
    white-space: normal;
    word-wrap: break-word;
  }
}
