<h1 style="font-weight: bold; text-align: center;padding-top: 10px;">授業情報編集</h1>

<div class="form">
  <div style="font-size: 20px;padding-top:20px;padding-bottom: 10px;">1．編集したいコマを選択</div>
  <div>
    <mat-button-toggle-group [formControl]="weekToggle" name="weeks" (click)="selectWeek()">
      <mat-button-toggle value="monday">月曜日</mat-button-toggle>
      <mat-button-toggle value="tuesday">火曜日</mat-button-toggle>
      <mat-button-toggle value="wednesday">水曜日</mat-button-toggle>
      <mat-button-toggle value="thursday">木曜日</mat-button-toggle>
      <mat-button-toggle value="friday">金曜日</mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <div>
    <mat-card style="margin-right: 20px;">
      <table mat-table [dataSource]="matDataSource">
        <ng-container matColumnDef="roomName">
          <th mat-header-cell *matHeaderCellDef>教室名</th>
          <td mat-cell *matCellDef="let element">{{ element.roomName }}</td>
        </ng-container>
        <ng-container matColumnDef="period1">
          <th mat-header-cell *matHeaderCellDef>1限目</th>
          <td mat-cell [ngClass]="{'highlight': row === rowIndex && 1 === columnIndex}" *matCellDef="let element; let row = index" (click)="onClick($event, row)">
            <ng-container *ngIf="isOpen(element.period1)">
              <mat-icon class="check">check_circle</mat-icon>
            </ng-container>
            <ng-container *ngIf="isOpen(element.period1) === false" (click)="onClick($event, row)">
              {{ element.period1 }}
            </ng-container>
          </td>
        </ng-container>
        <ng-container matColumnDef="period2">
          <th mat-header-cell *matHeaderCellDef>2限目</th>
          <td mat-cell [ngClass]="{'highlight': row === rowIndex && 2 === columnIndex}" *matCellDef="let element; let row = index" (click)="onClick($event, row)">
            <ng-container *ngIf="isOpen(element.period2)">
              <mat-icon class="check">check_circle</mat-icon>
            </ng-container>
            <ng-container *ngIf="isOpen(element.period2) === false">
              {{ element.period2 }}
            </ng-container>
          </td>
        </ng-container>
        <ng-container matColumnDef="lunch">
          <th mat-header-cell *matHeaderCellDef>lunch</th>
          <td mat-cell [ngClass]="{'highlight': row === rowIndex && 3 === columnIndex}" *matCellDef="let element; let row = index" (click)="onClick($event, row)">
            <ng-container *ngIf="isOpen(element.lunch)">
              <mat-icon class="check">check_circle</mat-icon>
            </ng-container>
            <ng-container *ngIf="isOpen(element.lunch) === false">
              {{ element.lunch }}
            </ng-container>
          </td>
        </ng-container>
        <ng-container matColumnDef="period3">
          <th mat-header-cell *matHeaderCellDef>3限目</th>
          <td mat-cell [ngClass]="{'highlight': row === rowIndex && 4 === columnIndex}" *matCellDef="let element; let row = index" (click)="onClick($event, row)">
            <ng-container *ngIf="isOpen(element.period3)">
              <mat-icon class="check">check_circle</mat-icon>
            </ng-container>
            <ng-container *ngIf="isOpen(element.period3) === false">
              {{ element.period3 }}
            </ng-container>
          </td>
        </ng-container>
        <ng-container matColumnDef="period4">
          <th mat-header-cell *matHeaderCellDef>4限目</th>
          <td mat-cell [ngClass]="{'highlight': row === rowIndex && 5 === columnIndex}" *matCellDef="let element; let row = index" (click)="onClick($event, row)">
            <ng-container *ngIf="isOpen(element.period4)">
              <mat-icon class="check">check_circle</mat-icon>
            </ng-container>
            <ng-container *ngIf="isOpen(element.period4) === false">
              {{ element.period4 }}
            </ng-container>
          </td>
        </ng-container>
        <ng-container matColumnDef="period5">
          <th mat-header-cell *matHeaderCellDef>5限目</th>
          <td mat-cell [ngClass]="{'highlight': row === rowIndex && 6 === columnIndex}" *matCellDef="let element; let row = index" (click)="onClick($event, row)">
            <ng-container *ngIf="isOpen(element.period5)">
              <mat-icon class="check">check_circle</mat-icon>
            </ng-container>
            <ng-container *ngIf="isOpen(element.period5) === false">
              {{ element.period5 }}
            </ng-container>
          </td>
        </ng-container>
        <ng-container matColumnDef="period6">
          <th mat-header-cell *matHeaderCellDef>6限目</th>
          <td mat-cell [ngClass]="{'highlight': row === rowIndex && 7 === columnIndex}" *matCellDef="let element; let row = index" (click)="onClick($event, row)">
            <ng-container *ngIf="isOpen(element.period6)">
              <mat-icon class="check">check_circle</mat-icon>
            </ng-container>
            <ng-container *ngIf="isOpen(element.period6) === false">
              {{ element.period6 }}
            </ng-container>
          </td>
        </ng-container>
        <ng-container matColumnDef="afterSchool">
          <th mat-header-cell *matHeaderCellDef>放課後</th>
          <td mat-cell [ngClass]="{'highlight': row === rowIndex && 8 === columnIndex}" *matCellDef="let element; let row = index" (click)="onClick($event, row)">
            <ng-container *ngIf="isOpen(element.afterSchool)">
              <mat-icon class="check">check_circle</mat-icon>
            </ng-container>
            <ng-container *ngIf="isOpen(element.afterSchool) === false">
              {{ element.afterSchool }}
            </ng-container>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </mat-card>
  </div>

  <div style="font-size: 20px;padding-top:20px;padding-bottom: 10px;">2．講義を登録</div>
  <mat-form-field>
    <mat-label>講義名</mat-label>
    <input [formControl]="input" matInput placeholder="プログラミング入門[天願]">
    <mat-icon matSuffix>class</mat-icon>
  </mat-form-field>
  <button style="margin-left: 30px;" mat-raised-button color="accent" class="submit" (click)="submit()">登録</button>
</div>
