<!--
<h1 *ngIf="userNames">{{ userNames }}</h1>
<h1 *ngIf="userMails">{{ userMails }}</h1>


<a>以下alluserdata</a>
<h1 *ngIf="allUserDatas">
  {{ this.userNames }}
  {{ this.userMails }}
  {{ this.userPhotoURL }}
</h1> -->
<mat-card class="card">
  <div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="photoURL">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <div *ngIf="element.photoURL">
          <img class="thumbnail" [src]="element.photoURL" alt="">
        </div>
      </td>
    </ng-container>
    <!-- Display Column: Display Name -->
    <ng-container matColumnDef="displayName">
      <th mat-header-cell *matHeaderCellDef> ユーザー名 </th>
      <td mat-cell *matCellDef="let element"> {{ element.displayName }} </td>
    </ng-container>

    <!-- Display Column: Email -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> メールアドレス </th>
      <td mat-cell *matCellDef="let element"> {{ element.email }} </td>
    </ng-container>



    <!-- Define columns -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  </div>
</mat-card>

<button mat-raised-button color="primary" class="registButton" (click)="openDialog()">ユーザーを追加</button>

