<!--
<h1 *ngIf="userNames">{{ userNames }}</h1>
<h1 *ngIf="userMails">{{ userMails }}</h1>


<a>以下alluserdata</a>
<h1 *ngIf="allUserDatas">
  {{ this.userNames }}
  {{ this.userMails }}
  {{ this.userPhotoURL }}
</h1> -->
<p class="title">ユーザ一覧</p>
<mat-card class="card">
  <div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="photoURL">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <div *ngIf="element.photoURL">
          <img class="thumbnail" [src]="element.photoURL" alt="">
        </div>
      </td>
    </ng-container>
    <ng-container matColumnDef="displayName">
      <th mat-header-cell *matHeaderCellDef> ユーザー名 </th>
      <td mat-cell *matCellDef="let element"> {{ element.displayName }} </td>
    </ng-container>
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> メールアドレス </th>
      <td mat-cell *matCellDef="let element"> {{ element.email }} </td>
    </ng-container>
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let rowIndex = index">
        <button mat-icon-button (click)="openDelDialog(rowIndex, true)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  </div>
</mat-card>

<p class="title">仮登録のユーザー</p>
<mat-card class="card">
  <table mat-table [dataSource]="dataSourcePreUser" class="mat-elevation-z8">
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>メールアドレス</th>
      <td mat-cell *matCellDef="let element">{{ element.email }}</td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>ユーザー名</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let rowIndex = index">
        <button mat-icon-button (click)="openDelDialog(rowIndex, false)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumnsPreUser"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnsPreUser;"></tr>
  </table>
</mat-card>
<button mat-raised-button color="primary" class="registButton" (click)="openDialog()">ユーザーを追加</button>

