<mat-toolbar color="primary">
  <a class="toolbar" routerLink="/">PC教室案内</a>
  <div *ngIf="auth.userName">
    <a>&emsp;{{ auth.userName | slice:1:-1 }}さん。こんにちは！</a>
  </div>
  <span class="spacer"></span>

  <!-- <button mat-icon-button (click)="auth.googleSignin()">
    <mat-icon>account_box</mat-icon>
  </button> -->
  <div *ngIf="isFullscreen; else exit">
    <button mat-icon-button (click)="exitFullscreen()">
      <mat-icon class="fullscreen">fullscreen_exit</mat-icon>
    </button>
  </div>
    <ng-template #exit>
      <button mat-icon-button (click)="fullscreen()">
        <mat-icon class="document.fullscreenElement">fullscreen</mat-icon>
      </button>
    </ng-template>
  <!-- <button mat-icon-button routerLink="/regist"> -->
  <button mat-icon-button (click)="auth.googleSignin()">
    <mat-icon class="setting">settings</mat-icon>
  </button>
</mat-toolbar>

<router-outlet></router-outlet>
