.toolbar {
  text-decoration: none;
  color: whitesmoke;
}
.spacer {
  flex: 1 1 auto;
}

.thumbnail {
  border-radius: 12px;
  // width: 24px;
  // height: 24px;
}

.footer {
  padding-top: 12px;
  font-size: 12px;
  color: #66cdaa;
  text-align: center;
}
